{% extends 'main/base.html' %}
{% load static %}

<!-- ===========Start SEO blocks=========== -->
{% block title %}Accueil{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ===========END SEO blocks=========== -->

<!-- ===========Start CSS blocks=========== -->
{% block extend_header %}<link href="{% static 'css/index.css' %}" rel="stylesheet">{% endblock %}
<!-- ===========END CSS blocks=========== -->

<!-- ===========Start script blocks=========== -->

<!-- ===========END script blocks=========== -->

<!-- ===========Start Content=========== -->
{% block content %}
    <section>
        <div class="center">
        <form action="{% url 'search_results' %}" method="get">
            <input id="Barre" name="q" type="text" placeholder="Search...">
            <input id="Recherche" type="submit" value="Research">
        </form>
        <div class="dropdown">
       <button class="Filtres">Filters</button>
        <div class="dropdown-content">
            <a href="#">Visual</a>
            <a href="#">Cognitive</a>
            <a href="#">...</a>
        </div>
        </div>

    </div>
    </section>


{% endblock %}
<!-- ===========    End Content ================================= -->