{% extends 'main/base.html' %}
{% load static %}

<!-- ===========Start SEO blocks=========== -->
{% block title %}Lieu{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ===========END SEO blocks=========== -->

<!-- ===========Start CSS blocks=========== -->
{% block extend_header %}{% endblock %}
<!-- ===========END CSS blocks=========== -->

<!-- ===========Start script blocks=========== -->
{% block extend_footer %}{% endblock %}
<!-- ===========END script blocks=========== -->

<!-- ===========Start Content=========== -->
{% block content %}
<div class="content container" id="place">
 <link href="{% static 'css/place_detail.css' %}" rel="stylesheet">
    <div class="row">
        <div class="col-md-8">
        <a href="{{ request.META.HTTP_REFERER }}" ><img src="/images/backButton.png" alt="..." class="return"  ></a>
            <div class="post">
                <div class="picture">
                   <img src="{{ place.image.url }}" alt="..." class="pImg">
                </div>
            <div class="content" id="t">
                    <h1 class="name"> {{ place.name }}</h1>
                    <h3 class="desc">{{ place.description }}</h3>
                    <p class="adr">{{ place.address }}</p>
                    <p class="url"> {{ place.url }}</p>

                    {% if request.user in place.favourites.all %}
                        <a href="{% url 'remove_place' place.pk %}"><img src="/images/removeButton.png" alt="..." class="fav"></a>

                    {% else %}
                        <a href="{% url 'add_place' place.pk %}"><img src="/images/addButton.png" alt="..." class="fav" href="{% url 'add_place' place.pk %}"></a>
                    {% endif %}
                </div>
            </div>
            <div class="image">
                <img src="{{ place.images }}" class="center"/>
            </div>
        </div>
    </div>
</div>
<!-- ===========End Content=========== -->
{% endblock %}
