{% load static %}
<link href="{% static 'css/nav.css' %}" rel="stylesheet">
<!-- ===========Start Navigation Bar=========== -->
<header>
    <div class="headerCol">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col">
                    <div class="d-md-none">
                        <button class="navToggle">
                            <span class="navToggle__text">Toggle Menu</span>
                        </button>
                    </div>
                    <div class="navCollapseCol">
                        <div class="navCol">
                            <ul>
                                {% if user.is_authenticated %}

                                    <li><a class="ParaMap" href="{% url 'home' %}">ParaMap</a></li>
                                    <li style="margin-left: 550px; margin-top: 65px; color: white">User : {{ user.username }}</li>
                                    <li style="float:right">
                                        <a id="btnLogin" class="active" href="{% url 'favourite_list' %}">Favourite</a>
                                    </li>
                                    <li style="float:right">
                                        <a id="btnSignUp" class="active" href="{% url 'logout' %}?next={{ request.path }}"
                                        >Déconnexion</a
                                        >
                                    </li>
                                {% else %}
                                    <li><a class="ParaMap" href="{% url 'home' %}">ParaMap</a></li>
                                    <li style="float:right">
                                        <a id="btnLogin" class="active" href="{% url 'login' %}">Sign in</a>
                                    </li>
                                    <li style="float:right">
                                        <a id="btnSignUp" class="active" href="{% url 'register' %}">Sign up</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ===========End Navigation Bar=========== -->