 /* Elements de recherche */
 .col-md-8{
     background-color:ghostwhite;
     width: 1600px;
     height: 600px;
     opacity: 0.8;
     text-align: right;
     margin-top:5%;
     color:black;

     border: 2px solid black;

 }

 .col-md-8>a{
     text-decoration: none;
     color:black;
     font-weight: bold;
 }

  .post>a{
     text-decoration: none;
      color:black;
      font-weight: bold;
      margin-left:15px;
 }

  .return{
    width : 70px;
    height : 35px;
      margin-left : 30%;
  }

.pImg{
    width: 600px;
    height: 350px;

}
.picture{
    position: absolute;
    opacity: 1;
}


.content{
   text-align: center;

}

.content>h1{
    margin-left : 45%;
}

.content>h3{
   margin-left : 45%;
}

.content>p{
    margin-left : 45%;
    color : black;
}

.content>a{
    text-decoration: none;
     color:black;
    font-weight: bold;
    margin-left : 45%;
}

.adr{
    text-decoration: none;
     color:black;
    font-weight: bold;
    margin-left : 45%;
}

.desc{
    text-decoration: none;
     color:black;
    font-weight: bold;
    margin-left : 45%;
}

.name{
    text-decoration: none;
     color:black;
    font-weight: bold;
    margin-left : 45%;
}

.url{
    text-decoration: none;
     color:black;
    font-weight: bold;
    margin-left : 45%;
}

.fav{
    width : 70px;
    height : 35px;
}
